li.octocat {
  display: inline-block;
  margin-left: 10px;
}

li.octocat > a > img {
  width: 400px;
  border: 1px silver solid;
  /*padding: 5px;*/
  position: relative;
}

.octocat a.first-child::after {
        content:" ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 8px 0 8px;
        border-color: #cacaca transparent transparent transparent;
        /*position: relative;
        bottom: -8px;
        right: 5px;*/
}

div.image-footer {                   
  border-bottom: 1px silver solid;
  padding: 0;
  font-weight: bold;
  height: 50px;
  position: relative;
}

span.image-number::before {
  content: "#";
}

span.image-number {
  color: silver;
  position: absolute;
  top: 15px;
  /*vertical-align: top;*/
}

.image-caption {    
  display: inline-block;
  float: right;
}

span.byline {
  color: gray;
  font-family: helvetica, sans-serif;
}

.image-caption a {
  /*vertical-align: top;*/
  text-decoration: none;
  color: black;
  font-family: helvetica, sans serif;
}

ul.authors {             
  list-style: none;
  padding: 0px;
  display: inline-block;
}

.authors li {
  display: inline;
}

.authors img { 
  position: relative;
  top: 8px;
  width: 30px;
  height: 30px; 
  outline: 1px solid clear;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
